html{
    height:100vh;
    margin: 0;
    background: rgb(70, 70, 70);
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:100%;
    margin: 0;
}

header{
    font-size: 5vh;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: white;
}


.center{
    /* height: 75%; */
    /* aspect-ratio: 1.3/2; */
    width: 350px;
    height: 565px;
    background: #FCB31B;
    border-radius: 20px;
    box-shadow: 15px 15px 7px rgba(0, 0, 0, 0.37);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.display{
    /* height: 20%; */
    background: rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 20px;
    flex:1;
}

.erase{
    display: flex;
    height: 15%;
    gap: 20px;
}

/* .back{
    width: 50%;
    background: rgba(88, 88, 88, 0.61);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.erase p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
} */

.numbers{
    flex: 4;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    aspect-ratio: 4/5;
}

footer {
    font-size: 3vh;
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
    color:darkgray;
}