html{
    height:100vh;
    margin: 0;
    background: rgb(82, 22, 22);
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:100%;
    margin: 0;
}

header{
    font-size: 5vh;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: rgb(228, 228, 228);
}


.center{
    /* height: 75%; */
    /* aspect-ratio: 1.3/2; */
    width: 350px;
    height: 565px;
    background: #E8BEAC;
    border-radius: 20px;
    box-shadow: 15px 15px 7px rgba(0, 0, 0, 0.37);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.display{
    /* height: 20%; */
    background: rgb(39, 39, 39);
    border-radius: 10px;
    margin-bottom: 20px;
    flex:1;
    box-shadow: inset 0px 3px 6px 3px rgba(0, 0, 0, 0.479);
}

.erase{
    display: flex;
    height: 15%;
    gap: 20px;
}


.numbers{
    flex: 4;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    aspect-ratio: 4/5;
}

footer {
    font-size: 3vh;
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
    color:darkgray;
    text-align: center;
}